{% extends 'base.html' %}
{% block body %}
<style>
	input[type=textP] {
		background-color: #292929;
		color: #ffffff;
		font-size: 20px;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid black;
		width: 100%;
		padding: 10px 10px;
		margin: 8px 0;
		-webkit-transition: width 0.4s ease-in-out;
  		transition: width 0.4s ease-in-out;
	}

</style>
    <form class="form-signin" style ="color: #fcfcfc;" action="{% url 'buscar' %}" method="post">
		{% csrf_token %}
		<input id="id_nome" name="nome_buscar"type="textP" placeholder="O que você está pensndo?" required >
		<input type="file" name="foto" />
	</form>	
{% endblock %}