{% load staticfiles %}
<!doctype html>
<html lang = "pt-br">
	<head>
		<style> 
			.div1 {
				position: absolute;
				top: 120px;
				right: 0;
				width: 300px;
				height: 100px;
				border: 1px solid blue;
			}
		</style>
		<meta charset="utf-8">
		<title>FaceBrooklyn</title>
		<link rel="stylesheet" 
			 href="{% static 'styles/bootstrap.css' %}">
		<link rel="stylesheet" 
			 href="{% static 'styles/main.css' %}">

	</head>
	<body>
		<div class="container">
			<div style="background-color: skyblue">
			<div class = "header">
				<ul class = "nav nav-pills pull-right">
					<li><a href = "{% url 'pagina-inicial' %}">Página Inicial</a></li>
					<li><a href = "{% url 'exibir' perfil_logado.id%}">Meu Perfil {{perfil_logado.nome}}</a></li>
					<li><a href = "/logout/">Logout</a></li>
				</ul>
				<h3 class = "text-muted">FaceBrooklyn</h3>
			</div>
		</div>
			
			<div class="row content">
				{% block body%}
				{% endblock %}				
			</div>		
		</div>	
	</body>
</html>