{% extends 'base.html' %}
{% block body %}
<style>
    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 15px;
        width: 100%;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #000000;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
        .button:hover {background-color: #242424}
        .button:active {
        background-color: #383838;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .column {
		float: left;
		padding: 10px;
	}

	.column.side {
		height: 100%;
		width: 25%;
	}

	.column.middle {
		height: 100%;
		width: 50%;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.columnF {
		float: left;
		padding: 10px;
		height: 100%;
	}

	.columnF.side {
		width: 25%;
	}

	.columnF.middle {
		width: 50%;
	}

	.columnC {
		float: top;
		padding: 10px;
		height: 100%;
	}

	.columnC.side {
		width: 100%;
	}


    .columnPO {
		float: left;
		padding: 10px;
		height: 100%;
	}

	.columnPO.side {
		width: 25%;
	}

	.columnPO.middle {
        text-align: center;
		width: 100%;
	}
    

</style>

<div class="row">
    <div class="column side" style="background-color:#aaa;">
        <div class="columnC side">
            <div>
                <h6>Meus amigos</h6>
                {% with total_amigos=perfil_logado.amigos.count %}
                    {% if total_amigos %}
                        <ul class="list-group">
                            {% for amigo in perfil_logado.amigos.all %}
                                <li class = "list-inline-item">
                                    <a href = "{% url 'exibir' amigo.id %}">{{amigo.nome}}</a>
                                </li> 
                            {% endfor %}
                        </ul>
                    {% else %}
                        
                            <ul class = "list-inline">
                                <li class = "list-inline-item">
                                    <p>Não possui amigos</a>
                                </li>
                            </ul>
                    
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        
        <div class="columnC side">
            <div>
                <h6>Convites Enviados</h6>
                    <ul class="list-group">
                         {% for convite in convites_espera %}
                            <li class = "list-inline-item">
                                <a href = "{% url 'exibir' convite.convidado.id %}">{{convite.convidado.nome}}</a>
                            </li> 
                        {% endfor %}
                    </ul>
            </div>
        </div>
    
    </div>

    <div class="column middle" style="background-color:#bbb;">
        <div>
            <a href="{%url 'criar_post' %}" class="button">Nova Postagem</a>
        </div>
        
        <div>
            {% if qauntidade != 0 %}
                <div class="columnPO middle">
                    <div class="pagination">
                        <span class="step-links">
                            {% for post in postagens %}
                                <div class="columnPO middle">
                                 {% for marca in marcacoes %}
                                    {% if post.id == marca.post %}
                                         {% if perfil_logado.id == marca.marcado %}
                                            <h3>Você foi marcado neste Post</h3>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                    
                                    <ul class="list-group"> 
                                        <div>
                                            <a href="{%url 'post' post.id%}" class="button">
                                            <h3>{{post.autor.nome}}</h3>
                                            <h5>{{post.conteudo}}</h5>
                                            </a>
                                        </div>
                                        
                                        <div class="columnPO side" style="background-color:#aaa;">
                                                <a href = "{%url 'reagir' post.id  1%}">amei :{{post.amei}}</a>
                                            </div>
                                        <div class="columnPO side" style="background-color:#aaa;">
                                            <a href = "{%url 'reagir' post.id  2%}">odiei : {{post.odiei}}</a>
                                        </div>
                                        <div class="columnPO side" style="background-color:#aaa;">
                                            <a href = "{%url 'reagir' post.id  3%}"> triste : {{post.triste}}</a>
                                        </div>
                                        <div class="columnPO side" style="background-color:#aaa;">
                                            <a href = "{%url 'reagir' post.id  4%}"> legal : {{post.legal}}</a>
                                        </div>
                                        
                                        {% if  post.autor.id == perfil_logado.id%}
                                            <div class="columnPO side" style="background-color:#aaa;">
                                                <a href="{%url 'editar' post.id%}" class="button">Editar</a>
                                            </div>
                                        {% endif %}
                                        
                                        {% if is_super %}
                                            {% if not post.autor.usuario.is_superuser%}
                                                <div class="columnPO side" style="background-color:#aaa;">
                                                    <a href="{%url 'excluir_post' post.id%}" class="button" >Excluir</a>
                                                </div>
                                            {% endif %}
                                            {% if  post.autor.id == perfil_logado.id%}
                                                <div class="columnPO side" style="background-color:#aaa;">
                                                    <a href="{%url 'excluir_post' post.id%}" class="button" >Excluir</a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                            <div class="columnPO side" style="background-color:#aaa;">
                                                <a href="{%url 'compartilha' post.id%}" class="button">Compartilha</a>
                                            </div>
                                        </div>
                                    </ul>
                                {% endfor %}
                                </div>
                    

                                {% if postagens.has_previous %}
                                    <a href="?page={{ postagens.previous_page_number }}">Anterior</a>
                                {% endif %}

                                {% if postagens.has_next %}
                                    <a href="?page={{ postagens.next_page_number }}">Próxima</a>
                                {% endif %}
                            </span>
                        </div>
                        
            {% else %}
                <p>Sem postagem</p><br>
            {% endif %}
        </div>
    </div>
    
    <div class="column side" style="background-color:#aaa;">
        <div class="col-lg-12"> 		    
            <div class="panel panel-default">
                {% with total=perfil_logado.convites_recebidos.count %}
                    {% if total %}
                        <div class="panel-heading">
                            <strong> {{ total }}  
                            Convite{{ total|pluralize }} aguardando aprovação</strong>
                        </div>
                        <ul class="list-group">
                            <div>
                                {% for convite in perfil_logado.convites_recebidos.all %}
                                    <div class="row">
                                        <div class="columnF middle" style="background-color:#aaa;">
                                            <a href = "{% url 'exibir' convite.solicitante.id %}">
                                            {{convite.solicitante.nome}}</a>
                                        </div>
                                        <div class="columnF side" style="background-color:#aaa;">
                                            <a href = "{% url 'aceitar' convite.id %}">aceitar</a>
                                        </div>
                                        <div class="columnF side" style="background-color:#aaa;">
                                            <a href = "{% url 'recusar' convite.id %}">recusar</a>
                                        </div>
                                    </div>        
                                {% endfor %}
                            </div>
                        </ul>
                    {% else %}
                        <div class="panel-body">
                            Não há convites
                        </div>    
                    {% endif %}
                {% endwith %}    
            </div>    
        </div>
    </div>
</div>
{% endblock %}