{% extends 'base.html' %}
{% block body %}
<a href = "{% url 'listaperfis' %}"> listar perfis </a>
<div class = "container-fluid">
    <div class="row">
        <aside  class="col-xs-12 col-md-3">
            <div class="profile-box full-width">
                    <div class="profile-title">
                        <h3>Amigos</h3>
                    </div>
                    <div class="profiles-list" style="overflow-y:scroll;">
                        {% with total_amigos=perfil_logado.amigos.count %}
                        {% if total_amigos %}
                            <ul class="list-group">
                                    {% for amigo in perfil_logado.amigos.all %}
                                        <li class = "list-group-item">
                                            <ul class = "list-inline">
                                                <li class = "list-inline-item">
                                                    <a href = "{% url 'exibir' amigo.id %}">{{amigo.nome}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endfor %}
                            </ul>
                        {% else %}
                            <div class="profile-body">
                                <div class="name-box">
                                    <h4> Nenhum amigo encontrado :(</h4>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %} 
        </aside>
    </div>
</div> 
<div class="col-xs-12 col-md-6">
        
    </div>
<aside class="col-xs-12 col-md-3">

<div class="profile-box full-width">
        <div class="profile-title">
                <h3>Convites recebidos</h3>
            </div> 		    
    <div class="panel panel-default">
        {% with total=perfil_logado.convites_recebidos.count %}

            {% if total %}
                <div class="panel-heading">
                    <strong> {{ total }}  
                    Convite{{ total|pluralize }} aguardando aprovação</strong>
                </div>
                <ul class="list-group">
                    {% for convite in perfil_logado.convites_recebidos.all %}
                        <li class = "list-group-item">
                           <ul class = "list-inline">
                                <li class = "list-inline-item">
                                    <a href = "{% url 'exibir' convite.solicitante.id %}">
                                        {{convite.solicitante.nome}}
                                    </a>
                                </li>
                                <li class = "list-inline-item pull-right">
                                    <a href = "{% url 'recusar' convite.id %}">recusar</a>
                                </li>
                                <li class = "list-inline-item pull-right">
                                    <a href = "{% url 'aceitar' convite.id %}">aceitar</a>
                                </li>
                        
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <div class="profile-body">
                    <div class="name-box">
                        <h4>Nenhum convite pendente</h4>
                    </div>
                </div>  
            {% endif %}
        {% endwith %}    
    </div>    
</div>
</aside>
{% endblock %}
