{% extends 'base.html' %}
{% block body %}
<div class = "col-lg-12">
		<h2 style="margin-top: 0px">{{ perfil.nome }}</h2>
		<address>			
			<a href = "mailto:{{ perfil.email }}">{{ perfil.email }}</a>
			<br>
			<strong>{{ perfil.nome_empresa }}</strong>
		
		</address>

		{% if is_me %}
			<a href="{% url 'mudar-senha' perfil.id %}"><button>Mudar Senha</button></a>
		{% else %}
			{% if not is_block %}
				<a href="{% url 'bloquear' perfil.id %}"><button>Bloquar</button></a>
				{% if is_amigos %}
					<a href="{% url 'desfazer' perfil.id %}"><button>Desfazer Amizade</button></a>
				{% else %}
					{% if is_convidado %}
						<a href="#"><button>Esperando Confirmação</button></a>
					{% else %}
						<a href="{% url 'convidar' perfil.id %}"><button>Enviar Pedido de Amizade</button></a>
					{% endif %}
				{% endif %}
			{% else %}
				<a href="{% url 'desbloquear' perfil.id %}"><button>Desbloquear</button></a>
			{% endif %}
		{% endif %}
</div>		
{% endblock %}		