{% extends "base.html" %}
{% block body %}
<form class="form-signin" action="{% url 'confirma-mudanca' perfil_logado.id %}" method="post">
    <form class="form-signin" role="form"action="#" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Mudar senha</h2>
        <input type="password" id="id_senha_atual" name="senha"
        class="form-control" placeholder="Digite a Senha atual" required>
        <input type="password" id="id_senha_nova" name="senha"
        class="form-control" placeholder="Digite a nova senha" required>
        <input type="password" id="id_senha_confir" name="senha"
        class="form-control" placeholder="Digite a novamente a senha" required>
        <button class="btn btn-lg btn-primary btn-block"
        type="submit" value="Login">Mudar Senha</button>
        
        {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close"
                    data-dismiss="alert" aria-hidden="true">×</button>
                {{form.non_field_errors}}
            </div>
        {% endif %}
    </form>
{% endblock %}